extends ../templates/template.pug
block append config
    - pagina_actual="contacto";
    - page_title = "contacto";
    
block contacto
    .contacto
        h1.contacto__title CONTACTO
        .social
            a.social__item(href="#"): img(src="/res/social/facebook.png" alt="logo face")
            a.social__item(href="#"): img(src="/res/social/instagram.png" alt="logo face")
            a.social__item(href="#"): img(src="/res/social/linkedin.png" alt="logo face")
            a.social__item(href="#"): img(src="/res/social/mail.png" alt="logo face")
            a.social__item(href="#"): img(src="/res/social/twitter.png" alt="logo face")
        p.leyenda Lorem ipsum dolor sit amet, consectetur adipisicing elit. In itaque qui quo, distinctio amet perspiciatis doloremque quaerat corporis nisi tempore consequatur voluptatum quidem error, eveniet temporibus! Tempora, ducimus ipsum tempore?Lorem ipsum dolor sit amet, consectetur adipisicing elit. In itaque qui quo, distinctio amet perspiciatis doloremque quaerat corporis nisi tempore consequatur voluptatum quidem error, eveniet temporibus! Tempora, ducimus ipsum tempore?
    
    
    
    
    
    