- var page_title = "Inicio";
- var page = "Aurore";

//-css
- var css = ['styles.css','estilos.css'];
- var paginas =['inicio','destinos','paquetes','contacto']
- var pagina_actual="";


//-datos
- var email="munozrodas.luisalfredo@gmail.com";
- var location = "Villa Maria del Triunfo, Lima - Perú";